body {
  font-family: Arial, sans-serif;
  background-color: #e6e4e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd9db;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  border-color: #ff0080;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ff66b2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #ff3385;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #ff0080;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); /* Supaya di tengah */
  cursor: pointer;
  font-size: 18px;
  color: #7c7b7b;
}
